# Node.js dependencies
node_modules/
**/node_modules/
app/be/node_modules/
app/be/dist/
app/fe/node_modules/
app/fe/dist/

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store


