version: '3.8'

services:
  be:
    build:
      context: ./app/be
    command: npm run start:dev
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./app/be:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}
    depends_on:
      - db
    networks:
      - app-network

  fe:
    build:
      context: ./app/fe
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./app/fe:/app
      - /app/node_modules
    networks:
      - app-network

  db:
    image: postgres:15
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - app-network

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
